<%- include('./partials/header.ejs') %>
<h1>Self Monitoring App</h1>
<a href="/auth/login">Login</a>
<a href="/auth/register">Register</a><br>
<p>And of course in case you are logged in...</p>
<a href="/behavior/reporting">Do some reporting on you daily behavior!</a>
<%- include('./partials/footer.ejs') %>